.cont-categories {
  display: inline-block;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.cont-categories-sub {
  display: inline-flex;
  position: relative;
  margin: 50px 10px 30px 10px;
  padding: 5px 10px;
  border-radius: 25px;
  z-index: 99;
}
.cont-categories-sub::before {
  content: "";
  background-color: white;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border-radius: 25px;
  z-index: -1;
}

.avatar-expert {
  width: 25px !important;
  height: 25px !important;
  background: #da49d2 !important;
  margin-right: 10px !important;
}
.avatar-advanced {
  width: 25px !important;
  height: 25px !important;
  background: #8a31db !important;
  margin-right: 10px !important;
}
.avatar-int {
  width: 25px !important;
  height: 25px !important;
  background: #34db31 !important;
  margin-right: 10px !important;
}
.avatar-novice {
  width: 25px !important;
  height: 25px !important;
  background: #ee8a25 !important;
  margin-right: 10px !important;
}
.avatar-fund {
  width: 25px !important;
  height: 25px !important;
  background: #211c90 !important;
  margin-right: 10px !important;
}

.typo-body-know {
    color: #555555;
}

/***KnowItems***/

.container-knowItem{
    display: inline-flex;
  position: relative;
  margin: 80px 10px 30px 10px;
  padding: 5px 10px;
  border-radius: 10px;
  z-index: 99;
  display: inline-flex;
}

.container-knowItem::before {
    content: "";
    background-color: white;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-radius: 10px;
    z-index: -1;
  }

  .icon-code{
      width: 120px !important;
      height: 120px !important;
      color: #2a2a2d;
  }
  .cont-typo-know{
     padding-top: 15px;
     display: inline-block;
  }

  .title-know-item{
    padding-bottom: 15px;
  }
  .cont-avatar-know{
    display: inline-flex;
    position: relative;
    padding: 5px 10px;
    border-radius: 25px;
    
  }
  .cont-items-know{
      display: grid;
  }
