/* .container-about{
    position: relative;
    width: 100%;
    min-height: 130vh;
    background: rgb(121,74,162);
    background: radial-gradient(circle, rgba(121,74,162,1) 0%, rgba(31,26,59,1) 100%);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .scene {
    position: relative;
    width: 100%;
    height: 120vh;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;
    overflow: hidden;
  }
  .scene::before{
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 250px;
    transition: 0.5s;
    background: linear-gradient(transparent, #fff, #2598f3);
  }
  .scene.active::before{
    bottom: 0;
  }
  .scene.active {
    background: linear-gradient(#ffeb3b, #ff9800);
  }
  
 .scene .moon-nigth {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .scene .moon-nigth::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;
  }
  .cont-typo{
      position: absolute;
      width: 400px;
      right: 30px;
      top: 200px;
      color: white
  }

  .titulo{

  }
  .contenido{
     padding-top: 30px;
  }
  .forest {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    transform: scale(.8);
    z-index: 100;
    transition: 0.5s;
  }
  .scene.active .forest{
    bottom: -100%;
  }
  
  .scene i {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
  }
  
  .scene.active i{
    display: none;
  }
  
  .bg{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    transition: 0.5s;
    z-index: 1000;
    transform: translateY(100%)
  }
  
  .scene.active .bg{
    transform: translateY(0);
  }
  
  
  
  @keyframes animateCloud {
    0% {
      transform: translateX(-100%) scale(1);
    }
    100% {
      transform: translateX(400%) scale(1.5);
    }
  }
  
  @keyframes animate {
    0% {
      opacity: 0;
      transform: translateY(0px);
    }
    10%,
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-100px);
    }
  }
  
  img {
    pointer-events: none;
  }

  .scene .star{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: animate  linear infinite;
    animation-duration: 5s;
  }