.scene {
  position: relative;
  width: 100%;
  min-height: 110vh;
  background: url("../../resources//img/universe3.jpg");
  background-size: cover;
  overflow: hidden;
  animation: scale 10s linear infinite;
  animation-direction: alternate;
}
@keyframes scale {
  0% {
    filter: hue-rotate(0);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.cont-typo-about {
  position: absolute;
  width: 400px;
  left: 30px;
  top: 100px;
  color: white;
  padding: 30px 35px;
  z-index: 1500;
}
.overlay-about {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  opacity: 0.7;
  background-color: #1d1d1d;
}
.cont-title-about {
  position: relative;
}

.titulo {
  border-bottom: 2px solid #8d8d8d;
  padding-bottom: 10px;
}
.contenido {
  padding-top: 30px;
}
.forest {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  transform: scale(0.8);
  z-index: 100;
  transition: 0.5s;
}

.scene i {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  animation: animate linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.scene .star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  animation: animate linear infinite;
  animation-duration: 5s;
}

.container-contacto {
  position: absolute;
  right: 0;
  top: 150px;
  z-index: 1501;
  display: inline-flex;
  flex-direction: column;
}
.cont-sub-contacto{
  display: inline-flex;
  justify-content: flex-end;
}
.cont-left {
  color: white;
  padding: 15px 10px;
 
}

.cont-left .typo-contacto{
letter-spacing: 1px;
}

.cont-right {
  padding: 10px 15px;
}

.cont-right .icon-btn-contacto {
  color: #555555;
  background-color: white;
  animation: animationIconReverse .5s linear ;
 
}

.cont-right .icon-btn-contacto:hover {
  color: #555555;
  background-color: white;
  animation: animationIcon .5s linear ;
}

@keyframes animationIcon {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes animationIconReverse {
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0);
  }
}

@media only screen and (max-width: 600px) {
  .scene .moon-nigth {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
  }

  .cont-typo-about {
    position: absolute;
    width: 400px;
    right: 30px;
    top: 300px;
    color: white;
  }
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
  .scene .moon-nigth {
    position: absolute;
    top: 100px;
    left: 150px;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
  }

  .cont-typo-about {
    position: absolute;
    width: 400px;
    right: 30px;
    top: 250px;
    color: white;
  }
}
