.scene {
  position: relative;
  width: 100%;
  min-height: 115vh;
  overflow: hidden;
}

.backImg {
  position: fixed;
  /* background: black; */
  overflow: hidden;
  animation: scale 10s linear infinite;
  animation-direction: alternate;
  bottom: 0;
  top: 0;
  height: 100vh;
  min-width: 100%;
}


.backImg img {
  position: absolute;
  min-width: 100%;
  height: 100vh;
  top: 0;
  overflow: hidden;
}

@keyframes scale {
  0% {
    filter: hue-rotate(0);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.backImgxs{
  display: none;
}
.hidden {
  display: none;
}
.primeraxs{
display: none;
}

.primera {
  position: absolute;
  bottom: -24px;
  right: -12px;
  
  width: 100%;
  z-index: 1000;
  animation: movrl 4s infinite ease-in-out;
  animation-direction: alternate;

}
.segunda {
  position: absolute;
  transition: 0.5s all;
  left: -10px;
  bottom: -20px;
  width: 100%;
  animation: movsegunda 4s infinite ease-in-out;
  animation-delay: .1s;
  animation-direction: alternate;
}
.tercera{
  position: absolute;
  transition: 0.5s all;
  left: -10px;
  bottom: -10px;
  width: 100%;
  animation: movsegunda 5s infinite ease-in-out;
  animation-delay: .7s;
  animation-direction: alternate;
}
.cuarta{
  position: absolute;
  bottom: -20px;
  right: -12px;
  width: 100%;
  
  animation-delay: 1.2s;
  animation: movrl 6s infinite ease-in-out;
  animation-direction: alternate;
}
.quinta{
  position: absolute;
  transition: 0.5s all;
  left: -10px;
  bottom: 0;
  width: 100%;
  animation: movsegunda 4s infinite ease-in-out;
  animation-delay: 1s;
  animation-direction: alternate;
}

.sexta{
  position: absolute;
  
  width: 100%;
  bottom: 0;
  animation-delay: .4s;
  animation: movrl 4.4s infinite ease-in-out;
  animation-direction: alternate;
}
.scene i {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  animation: animate linear infinite;
}

@keyframes movrl {
  0%{
    transform: rotate(-2deg);
  }
  100%{
    transform: rotate(2deg);
  }
}

@keyframes movsegunda{
  0%{
    transform: rotate(2deg);
  }
  100%{
    transform: rotate(-2deg);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.scene .star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  animation: animate linear infinite;
  animation-duration: 5s;
}

@media  (max-width: 600px) {

  .backImgxs{
    position: fixed;
    /* background: black; */
    overflow: hidden;
    animation: scale 10s linear infinite;
    animation-direction: alternate;
    bottom: 0;
    top: 0;
    height: 100vh;
    min-width: 100%;
    display: block;
  }
  .backImgxs img {
    position: absolute;
    min-width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
  }
  .backImg img {
   display: none;
  }
  .backImg{
    display: none;
  }
  .primeraxs{
    position: absolute;
    animation-delay: .4s;
    animation: movrl 4.4s infinite ease-in-out;
    animation-direction: alternate;
    left: -15px;
    width: 110%;
    bottom: -5px;
    overflow: hidden;
    height: 110%;
    display: block;
  }
  .primera {
    display: none;
  
  }
  .segunda {
    display: none;
  }
  .tercera{
    display: none;
  }
  .cuarta{
    display: none;
  }
  .quinta{
    display: none;
  }
  
  .sexta{
  display: none;
  }

}

@media (min-width: 600px) and (max-width: 960px) {
 

  .cont-typo-about {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: red;
  }
  .cont-typo-about-sub {
    top: 30px;
    margin-left: 22%;
  }

  .container-contacto {
    position: absolute;
    width: 100%;
    top: 30px;
    z-index: 1501;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
  }
  .backImgxs{
    display: none;
  }

}
