.container-contacto {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1501;
  height: 100%;
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: center;
}
.cont-sub-contacto {
  display: inline-flex;
  justify-content: flex-end;
}

.cont-right {
  padding: 10px 15px;
}

.cont-right .icon-btn-contacto {
 
  background: #ffffff;
  animation: animationIconReverse 0.5s linear;
  -webkit-box-shadow: 1px 11px 10px -1px rgba(0, 0, 0, 0.92);
  box-shadow: 1px 11px 18px -1px rgba(0, 0, 0, 0.92);
  animation-fill-mode: forwards;
  transition: .5s ease-in-out
}

.cont-right .icon-btn-contacto:hover {
  color: white;
  background-color: #7cd765;
  transition: .5s ease-in-out
}
.icon-contacto{
  color: #3a3a3a;
  transition: .5s ease-in-out;
 

}
.icon-contacto:hover {
  color: #ffffff;
  animation: animationBtnIcon 0.5s ease-in-out;
  animation-fill-mode: forwards;
  transition: .5s ease-in-out;
}
.btn-contact-active {
  position: absolute;
  transform: rotate(-90deg);
  top: 150px;
  right: -60px;
  background: white;
  border-radius: 5px;
  padding: 10px 15px;
  transition: 1s ease-in-out;
  -webkit-box-shadow: 1px 11px 18px -1px rgba(0, 0, 0, 0.92);
  box-shadow: 1px 11px 18px -1px rgba(0, 0, 0, 0.92);
}
.btn-contact-inact {
  position: absolute;
  transform: rotate(-90deg);
  right: -500px;
  top: 150px;
  background: white;
  border-radius: 5px;
  padding: 10px 15px;
  transition: 1s ease-in-out;
}
.titulo-contact {
  color: #7cd765;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 10px;
  margin-top: -10px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  transition: 0.5s all ease-in-out;
}
.titulo-contact-active {
  color: #7cd765;
  padding-bottom: 10px;
  margin-top: -10px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 2.5em;
  transition: 0.5s all ease-in-out;
  border-bottom: 2px solid #7cd765;
}

.cont-card-contact {
  position: absolute;
 top: 150px;
 right: 40px;
  width: 310px;
  background: white;
  display: inline-block;
  padding: 30px;
  opacity: 1;
  border-radius: 5px;
  -webkit-box-shadow: 1px 11px 18px -1px rgba(0, 0, 0, 0.92);
  box-shadow: 1px 11px 18px -1px rgba(0, 0, 0, 0.92);
  transition: 1s ease-in-out;
}
.cont-contenido-contact {
  display: inline-flex;
}

.cont-card-contact-inact {
  position: absolute;
  right: -500px;
  top: 150px;
  background: white;
  display: inline-block;
  opacity: 0;
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 11px 18px -1px rgba(0, 0, 0, 0.92);
  box-shadow: 1px 11px 18px -1px rgba(0, 0, 0, 0.92);
  transition: 1s ease-in-out;
}
@keyframes animationBtnIcon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animationMenu {
  0% {
    opacity: 0.5;
    transform: translateX(100px);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 600px){
  .titulo-contact-active {
      display: none;
  }
  .container-contacto{
    display: none;
  }
  .cont-card-contact {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    top: 40px;
    background: white;
    display: inline-block;
    padding: 5px;
    opacity: 1;
    -webkit-box-shadow: 1px 11px 18px -1px rgba(0, 0, 0, 0.92);
    box-shadow: 1px 11px 18px -1px rgba(0, 0, 0, 0.92);
    transition: 1s ease-in-out;
    text-align: center;
  }
  .cont-sub-contacto{
     bottom: 0;
  }
  .cont-card-contact-inact {
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    top: -500px;
    background: white;
    display: inline-block;
    opacity: 0;
    padding: 30px;
   
    -webkit-box-shadow: 1px 11px 18px -1px rgba(0, 0, 0, 0.92);
    box-shadow: 1px 11px 18px -1px rgba(0, 0, 0, 0.92);
    transition: 1s ease-in-out;
    text-align: center;
  }
}
