.body {
  margin: 0;
  top: 0px;
  position: relative;
  width: 100%;
  height: 105vh;
  overflow: hidden;
}

/********ContentImage************/
.container-Info {
  position: absolute;
  height: 100%;
  z-index: 1400;
}
.vidContent {
  position: relative;
  top: 10%;
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  text-align: left;
}





