.body {
  margin: 0;
  top: 0px;
  position: relative;
  width: 100%;
  height: 105vh;
  overflow: hidden;
}

/********ContentImage************/
.container-Info {
  position: absolute;
  height: 100%;
  z-index: 1400;
}
.vidContent {
  position: relative;
  top: 10%;
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  text-align: left;
}

.div-discover{
  position: absolute;
  bottom:50px;
  right: 10px;
  padding: 10px;
  
}

.div-discover p{
  position: absolute;
  transform: rotate(-90deg) ;
  color: white;
  font-family: "Oswald",sans-serif;
  letter-spacing: 2px;
  padding: 10px;
  font-size:25px; 
  right: -33px;
  bottom: 50px;
}

.icon{
  margin-left: -20px;
  color: #fff;
   animation: iconAnimation .8s linear infinite;
   animation-direction: alternate; 
   
}
@keyframes iconAnimation {
  0%{
    transform: translateY(0) rotate(90deg);
  }
  100%{
    transform: translateY(20px) rotate(90deg);
  }
}

@media (max-width: 600px){
  .div-discover{
    position: absolute;
    bottom: 120px;
    right: 10px;
    padding: 10px;
    
  }
}


