.overlay {
  background: rgb(255, 255, 255);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  z-index: -1;
  -webkit-box-shadow: 0px 21px 28px -8px #000000;
  box-shadow: 0px 21px 28px -8px #000000;
}

.container-img-perfil {
  text-align: center;
  background-color: transparent;
}

.image-perfil {
  border-radius: 150px;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  -webkit-box-shadow: 0px 21px 28px -8px #000000;
  box-shadow: 0px 21px 28px -8px #000000;
}

.card-cover {
  position: relative;
}

.title-target {
  padding-top: 15px;
  text-align: center;
  color: #555555;
}

.content-target {
  padding: 20px;
  text-align: center;
  color: #ffffff;
}
.target-subtitle{
  color: #ffffff;
  text-decoration: underline;
  -webkit-animation: fadeInFromNone 7s ease-out;
  -moz-animation: fadeInFromNone 7s ease-out;
  -o-animation: fadeInFromNone 7s ease-out;
  animation: fadeInFromNone 7s ease-out;
}
.target-name{
  color: #ffffff;
  -webkit-animation: fadeInFromNone 5s ease-out;
  -moz-animation: fadeInFromNone 5s ease-out;
  -o-animation: fadeInFromNone 5s ease-out;
  animation: fadeInFromNone 5s ease-out;
}

.icon{
  margin-left: -20px;
  color: #fff;
   animation: iconAnimation 1s linear infinite;
   animation-direction: alternate; 
}
@keyframes iconAnimation {
  0%{
    transform: translateY(0) rotate(90deg);
  }
  100%{
    transform: translateY(20px) rotate(90deg);
  }
}
@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}


