.LineStart {
  width: 100%;
  height: 15px;
  margin-left: 25px;
  background: white;
}

.LineEnd {
  width: 100%;
  height: 15px;
  background: white;
}

.circle-start {
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
  position: absolute;
  margin-top: -35px;
  margin-left: 15px;
}
.arrow-end {
  width: 40px;
  height: 40px;
  border: 15px solid;
  position: absolute;
  right: 50px;
  margin-top: -42px;
  border-color: white transparent transparent white;
  transform: rotate(135deg);
}
.Line-item {
  width: 100%;
  height: 15px;
  background: white;
}
.Line {
  width: 100%;
  height: 15px;
  background: white;
}
.cont-line-item {
  position: relative;
}

.item-arrow {
  width: 5px;
  height: 65px;
  border-radius: 15px;
  background: white;
  margin-top: -40px;
  position: absolute;
  margin-left: 50%;
}

/*********** CARDARROW *************/

.section-top {
  text-align: center;
  height: 70px;
  max-height: 70px;
  padding-bottom: 30px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
 
}

.section-bottom {
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.section-bottom {
  text-align: center;
  padding-top: 30px;
}
/*typography*/
.card-arrow-sub1 {
  color: white;
}
.card-arrow-title {
  color: white;
}
.card-arrow-year {
  padding-top: 10px;
  color: white;
}
.card-arrow-sub2 {
  padding-top: 10px;
  color: white;
}
.card-arrow-body {
  padding-top: 10px;
  padding-bottom: 40px;
  color: white;
}

/***Animation card***/
.cont-icon {
  position: relative;
}
.card-front span:hover {
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.card-front {
  color: white;
  backface-visibility: hidden;
  overflow: hidden;
  transition: all ease 0.5s;
  position: absolute;
  margin-left: 40%;
}
.card-front-active {
  color: white;
  backface-visibility: hidden;
  overflow: hidden;
  transition: all ease 0.5s;
  position: absolute;
  margin-left: 40%;
  margin-top: -60px;
}

.card-back {
  backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
  display: none;
 
}
.card-back-active {
  display: block;
  -webkit-animation: fadeInFromNone 2s ease-out;
  -moz-animation: fadeInFromNone 2s ease-out;
  -o-animation: fadeInFromNone 2s ease-out;
  animation: fadeInFromNone 2s ease-out;

}


@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}


@keyframes pulse-black {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(0.95);
  }
}
