.LineStart {
  width: 100%;
  height: 15px;
  margin-left: 25px;
  background: white;
}

.LineEnd {
  width: 100%;
  height: 15px;
  background: white;
}

.circle-start {
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
  position: absolute;
  margin-top: -35px;
  margin-left: 15px;
}
.arrow-end {
  width: 40px;
  height: 40px;
  border: 15px solid;
  position: absolute;
  right: 50px;
  margin-top: -42px;
  border-color: white transparent transparent white;
  transform: rotate(135deg);
}
.Line-item {
  width: 100%;
  height: 15px;
  background: white;
}
.Line {
  width: 100%;
  height: 15px;
  background: white;
}
.cont-line-item {
  position: relative;
}

.item-arrow {
  width: 5px;
  height: 65px;
  border-radius: 15px;
  background: white;
  margin-top: -40px;
  position: absolute;
  margin-left: 50%;
}

/*********** CARDARROW *************/

.section-top {
  text-align: center;
  height: 70px;
  max-height: 70px;
  padding-bottom: 30px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.section-bottom {
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.section-bottom {
  text-align: center;
  padding-top: 30px;
}
/*typography*/
.card-arrow-sub1 {
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
}
.card-arrow-title {
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2em;
  margin: 0;
}
.card-arrow-year {
  padding-top: 10px;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
}
.card-arrow-sub2 {
  padding-top: 10px;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  font-style: italic;
}
.card-arrow-body {
  padding-top: 10px;
  padding-bottom: 40px;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  font-style: italic;
}

/***Animation card***/
.cont-icon {
  position: relative;
}
.card-front span {
  /* transform: scale(1);
  animation: pulse-black 2s infinite ease-in-out alternate; */
}

.card-front {
  color: white;
  backface-visibility: hidden;
  overflow: hidden;
  transition: all ease 0.5s;
  position: absolute;
  margin-left: 40%;
}
.card-front-active {
  color: white;
  backface-visibility: hidden;
  overflow: hidden;
  transition: all ease 0.5s;
  position: absolute;
  margin-left: 40%;
  margin-top: -60px;
}

.card-back {
  backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
  display: none;
}
.card-back-active {
  display: block;
  -webkit-animation: fadeInFromNone 2s ease-out;
  -moz-animation: fadeInFromNone 2s ease-out;
  -o-animation: fadeInFromNone 2s ease-out;
  animation: fadeInFromNone 2s ease-out;
}
.card-front .animation-button{
 color: white;
 border: 1px solid white;
 animation: animationBtnJob .5s ease-in-out alternate forwards;
animation-iteration-count: 10;
}

.card-front .animation-button:hover{
 color: white;
 border: 1px solid white;
 opacity: 1;
}
.card-front-active .animation-button{
  color: white;
  border: 1px solid white;
 
 }
@keyframes animationBtnJob{
  0%{
   opacity: 1;
  }
  100%{
   opacity: .2;
  }
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes pulse-black {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.3); 
  }
}
