.container-proyects{
    width: 100%;
    background-color: rgb(63, 9, 9);
    position: relative;
    text-align: center;
    padding-top: 50px;
    min-height: 100vh;
    
}

.title-proyect{
    padding-bottom: 100px;
    padding-top: 50px;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 3em;
    margin: 0;
}